@media only screen and (min-width: 38rem) {

#allplaces div {
    grid-template-areas: 
    "photograph name"
    "photograph description"
    "photograph cost"
    "photograph location"
    ;
}
#allplaces div img {
    width: 300px;
}
}